<div class="container">
    <div class="grid d-flex justify-content-center">

        <div class="row my-4 w-100">

            {{#if headlines}}

                {{#each headlines}}

                    <div id="headline-{{ id }}" class="card rounded-lg d-block mt-3 shadow-lg">
                        <div class="row no-gutters">

                            <div class="col-md-4">
                                <img id="img-{{ id }}" src="{{ image }}" class="card-img" alt="Headline picture">
                            </div>

                            <div class="col-md-7">
                                <div class="card-body">
                                    <a id="url-{{ id }}" href="{{ url }}" target="_blank"><h5 id="title-{{ id }}" class="card-title">{{ title }}</h5></a>
                                    <p id="summary-{{ id }}" class="card-text">{{ summary }}</p>
                                </div>
                            </div>

                            <div class="col-md-1 text-right">
                                <img headline={{ id }} class="save icon" src="./images/save.svg">
                            </div>

                        </div>
                    </div>

                {{/each}}

            {{else}}

                <div class="d-block w-100 text-center my-5">

                    <h1 class="display-3">Press "Scrape!" to get headlines!</h1>

                </div>

            {{/if}}

        </div>

    </div>
</div>

<script src="scrape.js"></script>