<div class="container">
    <div class="grid d-flex justify-content-center">

        <div class="row my-4 w-100">

            {{#if headlines}}

                {{#each headlines}}

                    <div id="{{ _id }}" class="card rounded-lg d-block mt-3 shadow w-100">
                        <div class="row">

                            <div class="col-md-4">
                                <img src="{{ image }}" class="card-img" alt="Headline picture">
                            </div>

                            <div class="col-md-7">
                                <div class="card-body">
                                    <a href="{{ url }}" target="_blank"><h5 id="title-{{ id }}" class="card-title">{{ title }}</h5></a>
                                    <p class="card-text">{{ summary }}</p>
                                </div>
                            </div>

                            <div class="col-md-1">

                                <div class="d-flex flex-column align-items-end w-100 h-100">

                                    <img headline={{ _id }} class="delete icon" src="./images/trash.svg">
                                    <img headline={{ _id }} class="add-comment icon mt-auto" src="./images/comment.svg">

                                </div>


                            </div>

                        </div>
                    </div>

                    {{!-- Add comments if any --}}
                    {{#if comments}}

                        <div class="container">
                            <div class="grid">

                            {{#each comments}}

                                <div class="row w-100 d-flex my-3 mx-0 justify-content-end">

                                    <div class="media comment shadow rounded-lg p-3">
                                        <img class="user align-self-center mr-3" src="images/user.svg" alt="user pic">
                                        <div class="media-body">

                                            <p class="comment-text">{{ content }}</p>
                                            <img headline={{ _id }} class="delete-comment icon" src="./images/trash.svg">

                                        </div>
                                    </div>

                                </div>

                            {{/each}}

                            </div>
                        </div>

                    {{/if}}

                {{/each}}

            {{else}}

                <div class="d-block w-100 text-center my-5">

                    <h1 class="display-3">There are no saved headlines</h1>

                </div>

            {{/if}}

        </div>

    </div>
</div>

<script src="saved.js"></script>